node_modules
bower_components
public/css
public/js
public/fonts
public/img
tmp
coverage/
.sass-cache
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
config.js
