<div class="form-group">
  <label>Catogory:</label>
  {{#collection tag="select" id="select-category" name="select" class="form-control"}}
  <option value={{{yavu id}}}>{{{yd name}}}</option>
  {{/collection}}
</div>
