<div class="form-group">
  <label>Product:</label>
  {{#collection tag="select" id="select-product" name="select" class="form-control"}}
  <option value={{{yavu id}}}>{{{yd name}}}</option>
  {{/collection}}
</div>
