<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <h3>Thank you</h3>
    <hr />
    The payment is successful.
    <hr />
    <a href="/" class="btn btn-default">Back to Home</a>
  </div>
</div>
