<div class="text-center">
  <ul class="pagination">
    <li>
      {{#link id="prev" href="{{route}}{{prev}}" expand-tokens=true}}Prev{{/link}}
    </li>
    <li>
      {{#link id="next" href="{{route}}{{next}}" expand-tokens=true}}Next{{/link}}
    </li>
  </ul>
</div>
